*.swp
.config/ranger/colorschemes/*.pyo
.vim/plugged/
.vim/.netrwhist
.vim/backups/
.vim/yankring_history/
.vim/yankring_history_v2.txt
.vim/autoload/plug.vim
.vim/colors/
.vim/compiler/
.vim/snapshots
