*.swp
.vim/plugged/
.vim/.netrwhist
.vim/backups/
.vim/yankring_history/
.vim/yankring_history_v2.txt
.vim/autoload/
.vim/colors/
.vim/compiler/
.vim/doc/
.vim/ftdetect/
.vim/indent/
.vim/plugin/
.vim/syntax/
.vim/snapshots
