_auth = dGFuZHJld25pY2hvbHM6d2F0ZXJmYXN0Mg==
email = tandrewnichols@gmail.com

[_token]
AuthSession = dGFuZHJld25pY2hvbHM6NTJBNUFCQjk6Ag74Zoq_Nan5fRRLHF71f8zgkPU
version = 1
expires = 1386625114206
path = /
httponly = true
