snippet t
	Then (${1}):
		${0}
snippet e
	Execute (${1}):
		${0}
snippet g
	Given (${1}):
		${0}
snippet d
	Do (${1}):
		${0}
snippet x
	Expect (${1}):
		${0}
snippet b
	Before (${1}):
		${0}
snippet a
	After (${1}):
		${0}
snippet as
	AssertEqual ${1}, ${0}
