[user]
	name = Andrew Nichols
	email = tandrewnichols@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	dt = difftool
	a = add --all
[push]
	default = upstream
[branch]
	autosetuprebase = always
[color]
  ui = auto
[core]
	excludesfile = ~/.gitignore
