[user]
	name = Andrew Nichols
	email = tandrewnichols@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	dt = difftool
	a = add --all :/
	co = checkout
	cp = cherry-pick
	amend = commit -a --amend --no-edit
	ammend = commit -a --amend --no-edit
	unstage = reset
	aliases = config --get-regexp ^alias\\.
  alias = config --global alias.
[push]
	default = upstream
[branch]
	autosetuprebase = always
[color]
  ui = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[merge]
	renamelimit = 1946
[clean]
	requireForce = false
