_auth = dGFuZHJld25pY2hvbHM6d2F0ZXJmYXN0Mg==
email = tandrewnichols@gmail.com
loglevel = http

[_token]
AuthSession = dGFuZHJld25pY2hvbHM6NTJBNUFCQjk6Ag74Zoq_Nan5fRRLHF71f8zgk
version = 1
path = /
httponly = true
expires = 1425092857055
