_auth = dGFuZHJld25pY2hvbHM6d2F0ZXJmYXN0Mg==
email = tandrewnichols@gmail.com

[_token]
AuthSession = dGFuZHJld25pY2hvbHM6NTMxMTQ4QkM6RNUd_Tg_nIfRkTQmtv0GII3PIas
version = 1
path = /
httponly = true
expires = 1425177660474
