_auth = dGFuZHJld25pY2hvbHM6d2F0ZXJmYXN0Mg==
email = tandrewnichols@gmail.com

[_token]
AuthSession = dGFuZHJld25pY2hvbHM6NTMwMTc4N0Q6ghfR8JBf0g9NqIFwsuoUPup_huU
version = 1
path = /
httponly = true
expires = 1424141309684
