snippet build
[![Build Status](https://travis-ci.org/tandrewnichols/${1}.png)](https://travis-ci.org/tandrewnichols/${2:$1}
endsnippet

snippet fense
```${1:javascript}
${2}
```
endsnippet

snippet img
![${1}](${2})
endsnippet

snippet link
[${1}](${2})
endsnippet
